<footer>
	<div class="container">
		<div class="row ">
			<div class="col-md-4">
				<h5 class="yellow">Liberland Chamber of Commerce</h5>
  			<p>registered in Liberland association registry,<br>
  				under Liberland Corporate Law,<br>reg. association № RA00001.</p>

			</div>
			<div class="col-md-4">
				<ul>
					<li>
						<a href="http://liberlandpress.com/">Liberland Press</a>
					</li>
					<li>
						<a href="https://www.facebook.com/liberland/">Liberland on facebook</a>
					</li>
					<li>
						<a href="https://twitter.com/Liberland_org">Liberland on Twitter</a>
					</li>
					<li>
					  <a href="http://liberland.org/">Liberland.org</a>
					</li>
					<li>
					  <p><a href="#">Liberland ICO</a></p>
          </li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="icons">
				  <li><a href="#">Liberland Chamber of Commerce Facebook</a></li>
					<li><a href="#">Liberland Chamber of Commerce Telegram</a></li>
				</ul>

				<form action="https://liberland.us18.list-manage.com/subscribe/post?u=1c9c2f10768e6433001e47117&amp;id=567db346eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="input-group">
						<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="your@e-mail.here" required>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1c9c2f10768e6433001e47117_567db346eb" tabindex="-1" value=""></div>
						<span class="input-group-btn">
							<button class="btn btn-ghost text-right">Contact me back</button>
						</span>
					</div>
				</form>
			</div>
  </div>
</footer>
