<footer>
	<div class="container">
		<div class="row ">
			<div class="col-md-4">
				<h5 class="yellow">Liberland Chamber of Commerce</h5>
  			<p>registered in Liberland association registry,<br>
  				under Liberland Corporate Law,<br>reg. association № RA00001.</p>

			</div>
			<div class="col-md-4">
				<ul>
					<li>
						<a href="http://liberlandpress.com/">Liberland Press</a>
					</li>
					<li>
						<a href="https://www.facebook.com/liberland/">Liberland on facebook</a>
					</li>
					<li>
						<a href="https://twitter.com/Liberland_org">Liberland on Twitter</a>
					</li>
					<li>
					  <a href="http://liberland.org/">Liberland.org</a>
					</li>
					<li>
					  <p><a href="https://liberlandjobs.com">Liberland Jobs</a></p>
          </li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="icons">
				  <li><a href="http://facebook.com/LiberlandCoC" target="_blank">Liberland Chamber of Commerce Facebook</a></li>
					<li><a href="#">Liberland Chamber of Commerce Telegram</a></li>
				</ul>

				<form action="https://d58ytuke2e.execute-api.eu-west-1.amazonaws.com/dev" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="input-group">
						<input type="hidden" name="_to" value="15b0bfb35e580a00706ffaee">
						<input type="email" value="" name="message[email]" class="form-control" id="mce-EMAIL" placeholder="your@e-mail.here" required>
						<span class="input-group-btn">
							<button class="btn btn-ghost text-right">Contact me back</button>
						</span>
					</div>
				</form>
			</div>
  </div>
</footer>
