<footer>
  <div class="container" class="bg-dark">
    <div class="row">
      <div class="col-md-4">
        <h4>Links</h4>
        <ul>
          <li>
            <a href="http://liberlandpress.com/">Liberland Press</a>
          </li>
          <li>
            <a href="https://www.facebook.com/liberland/">Liberland on facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/Liberland_org">Liberland on Twitter</a>
          </li>
        </ul>

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 text-right">
        <h4>Get a PDF Brochure</h4>
        <p>By Subscribing to the Newsletter</p>

        <form action="https://liberland.us18.list-manage.com/subscribe/post?u=1c9c2f10768e6433001e47117&amp;id=567db346eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="input-group">
            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="your@e-mail.here" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1c9c2f10768e6433001e47117_567db346eb" tabindex="-1" value=""></div>
            <span class="input-group-btn">
              <button class="btn btn-ghost text-right">subscribe</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p>© <a href="#" class="logo">Liberland {{ now.Year }}</a> All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
