<footer>
  <div class="container" class="bg-dark">
    <div class="row">
      <div class="col-md-4">
        <h4>Links</h4>
        <ul>
          <li>
            <a href="http://liberlandpress.com/">Liberland Press</a>
          </li>
          <li>
            <a href="https://www.facebook.com/liberland/">Liberland on facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/Liberland_org">Liberland on Twitter</a>
          </li>
        </ul>

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 text-right">
        <h4>Get a PDF Brochure</h4>
        <p>By Subscribing to the Newsletter</p>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="your@email.here">
          <span class="input-group-btn">
            <button class="btn btn-ghost text-right">subscribe</button>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p>© <a href="#" class="logo">Liberland {{ now.Year }}</a> All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
