<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

      <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/index.html"><img src="/images/coatofarms.svg" width="24"></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}childActive{{ end }}">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ .Pre }}
                <span>{{ .Name }}</span>
                <span class="caret" />
              </a>
              <ul class="dropdown-menu">
                {{ range .Children }}
                  <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
              </ul>
          {{else}}
            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
              <a href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
          {{end}}
        {{end}}
    </div>	<!--/.nav-collapse -->
  </div>	<!--/.container-fluid -->
</nav>
