{{ define "extra-body-class" }}representative_offices{{ end }}

{{ define "main" }}
  {{ partial "title.html" . }}

<div class="container">
    <div class="row">
      {{ with .Params }}
        <div class="col-md-6">
          <div class="panel panel-default evo_widget widget_core_free_html">
            <div class="panel-heading"><h4 class="panel-title">Office information and contacts</h4></div>
              <div class="panel-body">
                {{ if .contact }}Head of Office:  <strong>{{ .contact }}</strong><br/>{{ end }}
                Address:
                {{ replace .address "\n" "<br />" | safeHTML }}

                {{ if .email }}
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;
                <a href="mailto:{{ .email }}">{{ .email }}</a>
                {{ end }}

              </div>
            </div>
            <br / >

            {{ .Content }}

      </div>

      <div class="col-md-3">
        <img src="http://shrani.si/f/1x/MI/4S7pocQD/embsi.jpg" />
      </div>
      {{ end }}
  </div>
</div>
{{ end }}
