{{ define "main" }}
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-left">Liberland</h1>
        <h2>The Modern Developing Country</h2>
      </div>
    </div>
    <div class="row to-bottom animated fadeInUp">
      <div class="col-md-12 text-center">
        <button class="btn btn-lg btn-ghost">Join Us</button>
      </div>
    </div>
  </div>
</section>

<section id="what-headline">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<h3 class="text-center">What is Liberland?</h3>
			</div>
		</div>
	</div>
</section>
<section id="what">
	<div id="gmap"></div>

	<div id="overmap" class="container wow fadeInRight">
		<div class="row to-bottom">
			<div class="col-md-6 col-md-offset-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<p class="subtitle"><strong>The Free Republic of Liberland</strong> is a sovereign state located between Croatia and Serbia on the west bank of the Danube river.</p>
						<p>Liberland came into existence due to a border dispute between Croatia and Serbia. This area along the west bank of the Danube river is not claimed by Croatia, Serbia or any other country. It was therefore <a href="#">terra nullius</a>, a no man’s land, until <strong>Vít Jedlička</strong> seized the opportunity and on <strong>13 April 2015</strong> formed a new state in this territory – Liberland. Its total area of approximately 7 km² is now the third smallest sovereign state, after the Vatican and Monaco.</p>
						<button class="btn btn-more center-block">Learn More</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</section>
<section id="mission" class="bg-yellow">
	<div class="container">
		<div class="wow row figures text-center">
			<div class="col-md-4 wow fadeInUp">
				<span class="big"><span id="citizenships"></span>K+</span>
				<p class="text">citizenship applications</p>
			</div>
			<div class="col-md-4 wow fadeInUp wait2">
				<span class="big"><span id="companies"></span>K+</span>
				<p class="text">potential new businesses</p>
			</div>
			<div class="col-md-4 wow fadeInUp wait4">
				<span class="big"><span id="offices"></span></span>
				<p class="text">representative offices</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-right">Our Mission</h3>
			</div>
			<div class="col-md-6 wow fadeInUp">
				<p>Free the world by setting an example and creating all necessary tools to govern free economic zones. Bring the prosperity and set example for other governments. More text will come here. More text to add to describe it but not more than this. Or maybe yes, we will see how it looks like...</p>
				<button class="btn btn-more center-block">Learn More</button>
			</div>
		</div>
	</div>
</section>
<section id="products" class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center center-block">e-Services</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-6 col-lg-3 wow fadeInUp">
				<a href="#" class="eres">
					<img src="images/icon-eres.svg">
					<h5>e-Residency</h5>
					<p class="fixit">Register your car in Liberland and your own plates. Some more text to add to describe it but not more than this.</p>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 wow fadeInUp wait1">
				<a href="#" class="pass">
					<img src="images/icon-pass.svg">
					<h5>Citizenship</h5>
					<p>Become a citizen and enjoy full list of Liberland services. <span class="fixit">Some more text to add to describe it but not more than this.
						</span></p>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 wow fadeInUp wait2">
				<a href="#" class="comp">
					<img src="images/icon-comp.svg">
					<h5>Company Registry</h5>
					<p>Register your company in Liberland and enjoy no taxes and good legal frame. <span class="fixit">Some more text to add to describe it but not more than this.</span></p>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 wow fadeInUp wait3">
				<a href="#" class="car">
					<img src="images/icon-car.svg">
					<h5>Car Registry</h5>
					<p>Register your car in Liberland and your own plates. <span class="fixit">Some more text to add to describe it but not more than this.</span></p>
				</a>
			</div>
		</div>

	</div>
</section>
<section id="government" class="bg-dark">
	<div id="particles-js"></div>
	<div class="container wow fadeIn">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">Government Officials</h3>
			</div>
		</div>
		<div class="row text-center columns">
			<div class="col-md-12 col-lg-4">
				<a href="#">
					<div class="circ">
						<img src="images/vit-jedlicka.jpg" class="circ">
					</div>
					<h5>Vít Jedlička</h5>
					<p>President</p>
				</a>
			</div>
			<div class="col-md-6 col-lg-4">
				<a href="#">
					<div class="circ">
						<img src="images/Bogie.jpg" class="circ">
					</div>
					<h5>Bogie Wozniak</h5>
					<p>Vice President</p>
				</a>
			</div>
			<div class="col-md-6 col-lg-4">
				<a href="#">
					<div class="circ">
						<img src="images/tariq.jpg" class="circ">
					</div>
					<h5>Tariq Abbasi</h5>
					<p>Secretary of State</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
	</div>
</section>

<section id="partners" class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">Featured Partners</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-6 col-lg-3 wow fadeInUp">
				<a href="https://universa.io/"><img src="images/partners/universa.png"></a>
				<p>New generation crypto protocol</p>
			</div>
			<div class="col-md-6 col-lg-3 wow fadeInUp wait1">
				<a href="https://aragon.one/"><img src="images/partners/aragon.png"></a>
				<p>Company setup and maintenance</p>
			</div>
			<div class="col-md-6 col-lg-3 wow fadeInUp wait2">
				<a href="https://kleros.io/"><img src="images/partners/kleros.png"></a>
				<p>Distributed dispute resolution protocol</p>
			</div>
			<div class="col-md-6 col-lg-3 wow fadeInUp wait3 ">
				<a href="https://bitcoin.com/"><img src="images/partners/bitcoin.png"></a>
				<p>Simple & Secure Currency</p>
			</div>

		</div>
	</div>
</section>
<section id="news" class="bg-yellow">
</section>
<section id="media" class="bg-light">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="text-center">Media Coverage</h3>
			</div>
		</div>
		<div class="row wow fadeIn">
			<div class="col-sm-3 col-xs-4">
				<a href="https://sputniknews.com/amp/world/201802201061822324-liberland-cryptocurrency-bitcoin-vit-jedlicka/" target="_blank">
					<img src="images/publications/sputniknews.png" alt="Sputnik News - 'There is no Better Time Than Now to Start New Country Like Liberland' - Founder">

				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.telegraph.co.uk/business/2018/02/18/welcome-liberland-nation-bitcoin-built/" target="_blank">
					<img src="images/publications/telegraph.png" alt="The Telegraph - Welcome to Liberland: the nation that Bitcoin built">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="http://video.foxnews.com/v/5095266242001/liberland-president-looks-to-make-independent-nation/?#sp=show-clips" target="_blank">
					<img src="images/publications/foxnews.png" alt="Fox News - Liberland president looks to make independent nation">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="http://www.newstatesman.com/culture/observations/2016/06/live-and-let-live-inside-free-republic-liberland" target="_blank">
           			<img src="images/publications/newstatesman.png" alt="The Newstatesman - Live and let live: inside the Free Republic of Liberland">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="http://www.the-blockchain.com/2017/02/23/liberland-launch-online-startup-contest-kick-off-smart-nation/" target="_blank">
					<img src="images/publications/bcnews.png" alt="Blockhchain News - Liberland to Launch Online Startup Contest to Kick Off Smart Nation">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="http://www.nytimes.com/2015/08/16/magazine/the-making-of-a-president.html?_r=2" target="_blank">
					<img src="images/publications/nytimes.png" alt="New York Times - Welcome to Liberland, the World’s Newest Country (Maybe)">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="http://www.euronews.com/2015/07/22/liberland-utopian-tax-free-micronation-or-state-of-mind/" target="_blank">
					<img src="images/publications/euronews.png" alt="Euronews - Liberland: utopian tax-free micronation or state of mind?">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="http://www.bloomberg.com/news/articles/2015-07-21/inside-liberland-the-place-of-no-taxes-where-crowdfunding-rules" target="_blank">
					<img src="images/publications/bloomberg.png" alt="Bloomberg - Inside ‘Liberland’, the Place of No Taxes Where Crowdfunding Rules">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="http://edition.cnn.com/2015/04/25/europe/liberland-worlds-newest-micronation/" target="_blank">
					<img src="images/publications/cnn.png" alt="CNN - Liberland: Could the world's newest micronation get off the ground?">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.ccn.com/welcome-liberland-bitcoin-national-currency/" target="_blank">
					<img src="images/publications/ccn.png" alt="">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="http://www.bbc.com/news/magazine-37941931" target="_blank">
					<img src="images/publications/bbc.png" alt="BBC - The man who created a tiny country he can no longer enter">
				</a>
			</div>
			<div class="col-sm-3 col-xs-4">
				<a href="https://www.theguardian.com/world/2015/apr/24/liberland-hundreds-of-thousands-apply-to-live-in-worlds-newest-country" target="_blank">
					<img src="images/publications/theguardian.png" alt="The Guardian - Liberland: hundreds of thousands apply to live in world's newest 'country'">
				</a>
			</div>
		</div>
</section>


{{ end }}
