{{ define "main" }}
  {{ partial "title.html" . }}

  <section id="filter">
    <div class="container">
          <div class="row text-left">
              <div class="col-lg-12">
                <h3>Members</h3>
                  <p>List of members and partners of Liberland Chamber of commerce .</p>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group">
         <div class="input-group-btn search-panel">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="search_concept">Categories</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu scrollable-dropdown" role="menu">
            <ul>
              {{ range $key, $value := .Site.Taxonomies.categories }}
              <li>
                  <a href="/categories/{{ $key | urlize }}">{{ $key | title }}</a>
              </li>
              {{ end }}
            </ul>
          </ul>
         </div>
              </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="hidden" name="search_param" value="all" id="search_param" />
              <input type="text" class="form-control col-sm-6 col-md-12" name="x" id="search" placeholder="Search" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section id="members" class="">
    	<div class="container">
        <div class="row text-center">
          {{ range .Data.Pages }}
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 cell">
              <button type="button" class="transparent" data-toggle="modal" data-target="#infoModal" data-whatever="Safex">
                <img src="{{ .Params.image }}" style="width: 150px">
              </button>
              <big>{{ .Title }}</big><br>
              <span>{{ .Params.industry }}</span>
            </div>
          {{ end }}
        </div>
    	</div>
    </section>

  {{ range .Data.Pages }}
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  	  <div class="modal-dialog" role="document">
  	    <div class="modal-content">
  	      <div class="modal-header">
  	        <h5 class="modal-title" id="exampleModalLabel">{{ .Title }}</h5>
  	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  	          <span aria-hidden="true">&times;</span>
  	        </button>
  	      </div>
  	      <div class="modal-body">
          {{ with .Params }}
  		      <div class="row">
                    <div class="col-md-3 col-xs-12 metadata">
  					Web
                    </div>
                    <div class="col-md-9 col-xs-12 ">
                      <strong><a href="#" target="_blank">{{ .web }}</a></strong> <span class="glyphicon glyphicon-new-window yellow" aria-hidden="true"></span>
                    </div>
  				<div class="col-md-3 col-xs-12 metadata">
  					Description
  				</div>
          <div class="col-md-9 col-xs-12">
            {{ .short_description }}
  				</div>
                    <div class="col-md-3 col-xs-12 metadata">
  					Tags
  				</div>
                    <div class="col-md-9 col-xs-12">
  					<a href="#" class="tag">cryptocurrencies</a>, <a href="#" class="tag">data security</a>, <a href="#" class="tag">bitcoin</a>, <a href="#" class="tag">software</a>, <a href="#" class="tag">gdpr</a>
  				</div>
                    <div class="col-md-3 col-xs-12 metadata">
  					Industry
  				</div>
                    <div class="col-md-9 col-xs-12">
  					data security
  				</div>
                    <div class="col-md-3 col-xs-12 metadata">
  					Main interest
  				</div>
                    <div class="col-md-9 col-xs-12">
  					customers, contacts, opening branch
  				</div>
                    <div class="col-md-3 col-xs-12 metadata">
  					Contact
  				</div>
                    <div class="col-md-9 col-xs-12">
  					<strong><a href="mailto:">{{ .Email }}</a></strong>
                    </div>
  		      </div>

            <div class="col-md-9 col-xs-12">
              {{ .Content }}
            </div>

          {{ end }}

  	      </div>

  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  	      </div>
  	    </div>
  	  </div>
  	</div>
  {{ end }}
{{ end }}
