{{ define "menu" }}
	{{ partial "coc_menu" . }}
{{ end }}

{{ define "main" }}
{{ with .Params }}

<div class="container" style="margin-top: 3em">
  <h3>{{ .name }}</h3>

  <div class="row" style="border: 1px solid #f7f7f9; padding-top: 1em">

    <div class="col-md-9 col-xs-12">
      {{ partial "commerce/member_attribute" (dict "context" . "attr_name" "Description" "attr_value" .short_description ) }}
      {{ partial "commerce/member_attribute" (dict "context" . "attr_name" "Industry" "attr_value" .industry ) }}
      {{ partial "commerce/member_attribute" (dict "context" . "attr_name" "Web" "attr_value" .web ) }}
      {{ partial "commerce/member_attribute" (dict "context" . "attr_name" "Contact" "attr_value" .contact ) }}
    </div>
    <div class="col-md-3 col-xs-12 metadata">
      <div style="width: 140px; height: 140px; background: url({{ .logo }}) scroll no-repeat center/cover; background-size: contain"></div>
    </div>

  </div>
  <div class="row">
    {{ .Content }}
  </div>
</div>

{{ end }}
{{ end }}

{{ define "footer" }}
	{{ partial "coc_footer" . }}
{{ end }}
