{{ define "extra-body-class" }}coc {{ end }}
{{ define "header-extra" }}
	<header>
        <div id="title" class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="/" class="home">
	                    <img class="logomark" src="images/coc/coc-logo.svg">
                        <h1 class="text-left">Liberland</h1>
                        <h2>Chamber of Commerce</h2>
                    </a>
                </div>
                <div class="col-md-6">
                    <nav class="navbar navbar-default coc">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
<!--
                                    <li><a href="coc-about.html">About</a></li>
                                    <li><a href="coc-liberland.html">Liberland</a></li>
                                    <li><a href="coc-members.html">Members</a></li>
                                    <li><a href="coc-events.html">Events</a></li>
                                    <li><a href="coc-contact.html">Contact</a></li>
-->
                                
                                
                                {{ $currentPage := . }}
						        {{ range .Site.Menus.main }}
						          {{ if .HasChildren }}
						            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}childActive{{ end }}">
						              <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						                {{ .Pre }}
						                <span>{{ .Name }}</span>
						                <span class="caret" />
						              </a>
						              <ul class="dropdown-menu">
						                {{ range .Children }}
						                  <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
						                    <a href="{{ .URL }}">{{ .Name }}</a>
						                {{ end }}
						              </ul>
						          {{else}}
						            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
						              <a href="{{.URL}}">
						                {{ .Pre }}
						                <span>{{ .Name }}</span>
						              </a>
						          {{end}}
						        {{end}}
						        
						        </ul>
                                
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                        <!--/.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
{{ end }}
{{ define "menu-extra" }}
	<!-- none -->
{{ end }}
{{ define "main" }}
  {{ .Content }}
{{ end }}

{{ define "footer-extra" }}
	<footer>
        <div class="container">
            <div class="row ">
                <div class="col-md-4">
                    <p>Liberland Chamber of Commerce, registered entity Nr......under........</p>
                </div>
                <div class="col-md-4">
                    <ul>
			          <li>
			            <a href="http://liberlandpress.com/">Liberland Press</a>
			          </li>
			          <li>
			            <a href="https://www.facebook.com/liberland/">Liberland on facebook</a>
			          </li>
			          <li>
			            <a href="https://twitter.com/Liberland_org">Liberland on Twitter</a>
			          </li>
			        </ul>
                </div>
                <div class="col-md-4">
                    <p><a href="http://liberland.org/">Liberland.org</a></p>
                </div>
            </div>
        </div>
    </footer>
{{ end }}
