{{ define "header-extra" }}

{{ end }}

{{ define "main" }}
  {{ .Content }}
{{ end }}

{{ define "footer-extra" }}
<footer>
  <div class="container">
    <div class="row ">
      <div class="col-md-4">
        <p>Liberland Chamber of Commerce, registered entity Nr......under........</p>
      </div>
      <div class="col-md-4">
      <ul>
      <li>
        <a href="http://liberlandpress.com/">Liberland Press</a>
      </li>
      <li>
        <a href="https://www.facebook.com/liberland/">Liberland on facebook</a>
      </li>
      <li>
        <a href="https://twitter.com/Liberland_org">Liberland on Twitter</a>
      </li>
      </ul>
      </div>
      <div class="col-md-4">
        <p>important links go here</p>
      </div>
    </div>
  </div>
</footer>
{{ end }}
