{{ define "menu" }}
	{{ partial "coc_menu" . }}
{{ end }}

{{ define "main" }}
  <section id="filter">
    <div class="container">
      <div class="row text-left">
        <div class="col-lg-12">
          <h3>Members</h3>
        </div>
      </div>
			<div class="row">


				<form>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Search</label>
				    <input disabled="disabled" id="search" type="text" class="form-control" aria-describedby="searchHelp" placeholder="just a moment ...">
				    <small id="searchHelp" class="form-text text-muted">Enter a search term.</small>
				  </div>
				  <button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>


			<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>


						<script id="search-result-template" type="text/x-js-template">
						  <div id="summary-${key}">
						    <h4><a href="${link}">${name}</a></h4>
						    <p>${snippet}</p>
						    ${ isset tags }<p>Tags: ${tags}</p>${ end }
						    ${ isset industry }<p>industry: ${industry}</p>${ end }
						  </div>
						</script>

			<script>



			const debounce = (fn, time) => {
			  let timeout;

			  return function() {
					$('#search-results').empty();
			    const functionCall = () => fn.apply(this, arguments);

			    clearTimeout(timeout);
			    timeout = setTimeout(functionCall, time);
			  }
			}


			var search = document.getElementById("search");

			const summaryInclude=60;

			var fuseOptions = {
			shouldSort: true,
			includeMatches: true,
			threshold: 0.0,
			tokenize:true,
			location: 0,
			distance: 100,
			maxPatternLength: 32,
			minMatchCharLength: 1,
			keys: [
			{ name:"name",weight:0.8 },
			{ name:"short_description",weight:0.5 },
			{ name:"industry", weight:0.3 },
			]};



			function render(templateString, data) {
				var conditionalMatches,conditionalPattern,copy;
				conditionalPattern = /\$\{\s*isset ([a-zA-Z]*) \s*\}(.*)\$\{\s*end\s*}/g;
				//since loop below depends on re.lastInxdex, we use a copy to capture any manipulations whilst inside the loop
				copy = templateString;
				while ((conditionalMatches = conditionalPattern.exec(templateString)) !== null) {
					if(data[conditionalMatches[1]]){
						//valid key, remove conditionals, leave contents.
						copy = copy.replace(conditionalMatches[0],conditionalMatches[2]);
					} else {
						//not valid, remove entire section
						copy = copy.replace(conditionalMatches[0],'');
					}
				}
				templateString = copy;
				//now any conditionals removed we can do simple substitution
				var key, find, re;
				for (key in data) {
					find = '\\$\\{\\s*' + key + '\\s*\\}';
					re = new RegExp(find, 'g');
					templateString = templateString.replace(re, data[key]);
				}
				return templateString;
			}

			function populateResults(result){
				$.each(result,function(key,value){
					console.log(key,value)

					var contents = value.item.short_description;
					var snippet = "";
					var snippetHighlights=[];
					var tags =[];
					if( fuseOptions.tokenize ){
						snippetHighlights.push(searchQuery);
					}else{
						$.each(value.matches,function(matchKey,mvalue){
							if(mvalue.key == "tags" || mvalue.key == "industry" ){
								snippetHighlights.push(mvalue.value);
							}else if(mvalue.key == "contents"){
								start = mvalue.indices[0][0]-summaryInclude>0?mvalue.indices[0][0]-summaryInclude:0;
								end = mvalue.indices[0][1]+summaryInclude<contents.length?mvalue.indices[0][1]+summaryInclude:contents.length;
								snippet += contents.substring(start,end);
								snippetHighlights.push(mvalue.value.substring(mvalue.indices[0][0],mvalue.indices[0][1]-mvalue.indices[0][0]+1));
							}
						});
					}

					if(snippet.length<1){
						snippet += contents.substring(0,summaryInclude*2);
					}
					//pull template from hugo templarte definition
					var templateDefinition = $('#search-result-template').html();
					//replace values
					var output = render(templateDefinition,{key:key,name:value.item.name,link:value.item.permalink,tags:value.item.tags,industry:value.item.industry,snippet:snippet});
					$('#search-results').append(output);

					$.each(snippetHighlights,function(snipkey,snipvalue){
						$("#summary-"+key).mark(snipvalue);
					});

				});
			}




			let searchQuery;
			let pages;
			let fuse;

			let doSearch = () => {
				if(+search.value === 0) {
					return;
				}

				searchQuery = search.value
				var result = fuse.search(searchQuery);

				console.log({"matches": result});

			if(result.length > 0){
				populateResults(result);
			}else{
				$('#search-results').append("<p>No matches found</p>");
			}

			}

			$.getJSON( "index.json", (data) => {
				pages = data.data;
				fuse = new Fuse(pages, fuseOptions);

				search.setAttribute('placeholder', 'search terms');
				search.removeAttribute('disabled');

				search.oninput = debounce(doSearch, 600);
			});

			</script>



      <div class="row">
        <div class="col-sm-6">
          <div class="input-group">
            <ul>
              <ul>
                {{ range $key, $value := .Site.Taxonomies.industry }}
                <li>
                  <a href="/industry/{{ $key | urlize }}">{{ $key | title }}</a>
                </li>
                {{ end }}
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ range .Data.Pages }}
  {{ with .Params }}

    <div class="container">
  	    <div class="row">
					<div id="search-results"></div>

  	      <div class="">
  	        <h5 class="modal-title" id="exampleModalLabel">{{ .name }}</h5>
            <img src="{{ .Params.logo }}" style="width: 150px">

  	      </div>
  	      <div class="body">
  		      <div class="row">
              <div class="col-md-3 col-xs-12 metadata">Web</div>
                    <div class="col-md-9 col-xs-12 ">
                      <strong><a href="#" target="_blank">{{ .web }}</a></strong> <span class="glyphicon glyphicon-new-window yellow" aria-hidden="true"></span>
                    </div>
  				<div class="col-md-3 col-xs-12 metadata">
  					Description
  				</div>

          <div class="col-md-9 col-xs-12">
            {{ .short_description }}
  				</div>

          <div class="col-md-3 col-xs-12 metadata">Tags</div>

          <div class="col-md-9 col-xs-12">
            {{ range .tags }}<span href="" class="tag">{{ . }}</span>,{{ end }}
          </div>

          <div class="col-md-3 col-xs-12 metadata">
  					Industry
  				</div>

          <div class="col-md-9 col-xs-12">
  					{{ .industry }}
  				</div>

          <div class="col-md-3 col-xs-12 metadata">
  					Contact
  				</div>

          <div class="col-md-9 col-xs-12">
  					<strong><a href="mailto:">{{ .contact }}&nbsp;</a></strong>
          </div>

          <div class="col-md-3 col-xs-12 metadata">
            Email
          </div>

          <div class="col-md-9 col-xs-12">
            <strong><a href="mailto:">{{ .email }}&nbsp;</a></strong>
          </div>

  		      </div>

            <div class="col-md-9 col-xs-12">
              {{ .Content }}
            </div>

          {{ end }}

  	      </div>
          <hr />
  	    </div>
  	</div>
  {{ end }}
{{ end }}

{{ define "footer" }}
	{{ partial "coc_footer" . }}
{{ end }}
