<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head/default" . }}
  

  {{ partial "head/local" . }}
  {{ partial "head/fancybox" . }}
</head>

<body class="{{ block "extra-body-class" . }}{{ end }}{{ .Title | urlize }}" >
	{{ block "header-extra" . }}  {{ end }}
	{{ block "menu-extra" . }}
	  	{{ partial "menu.html" . }}
	  {{ end }}
  
  {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
  {{ end }}
  
  {{ block "footer-extra" . }}
  	{{ partial "footer.html" . }}
  {{ end }}
  {{ partial "netlify_footer" . }}
</body>
</html>
