<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8" id="events">
        <ul class="event-list">
          {{ with .Site.GetPage "section" "events" }}
          {{ range .Data.Pages }}
          <li>
            <time datetime="2014-07-20">

              <span class="day">{{ dateFormat "_2" .Params.event_date }} </span>
              <span class="month">{{ dateFormat "Jan" .Params.event_date }}</span>
              <span class="year">{{ dateFormat "2006" .Params.event_date }}</span>
              <span class="time">ALL DAY</span>
            </time>
            <img alt="event thumbnail" src="{{ .Params.thumbnail }}" />
            <div class="info">
              <h2 class="title">{{ .Title }}</h2>
              <p class="desc">{{ .Params.description}}</p>
            </div>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
