<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8" id="events">
        <div class="fb-page" data-href="https://www.facebook.com/LiberlandCoC/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
          <blockquote cite="https://www.facebook.com/LiberlandCoC/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LiberlandCoC/">Liberland - Chamber of Commerce</a></blockquote>
        </div>
      </div>
    </div>
  </div>
