<section id="countries">
  <div class="container">
    <div class="row" id="sort_contacts">
      {{ with .Site.GetPage "section" "representative_offices" }}
        {{ range .Data.Pages  }}
          <div class="col-sm-4" id="{{ .Params.shortcode }}">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">{{ .Params.title }}</h3>
              </div>
              <div class="panel-body">
                {{ if .Params.contact }}<strong>{{ .Params.contact }}</strong><br/>{{ end }}
                {{ replace .Params.address "\n" "<br />" | safeHTML }}

                <br / >

                <img src="/images/icon-company.svg" height="14px"/>&nbsp;
                <a href="//{{ with .Slug }}{{ . }}{{ else }}{{ .BaseFileName }}{{ end }}.{{ .Site.Data.web_locations.main }}">
                  Website
                </a>
                <br / >

                {{ if .Params.email }}
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;
                <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
                {{ end }}


                {{ if .Params.phone }}
                <br/>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;
                <a href="tel:{{ .Params.phone }}">{{ .Params.phone }}</a>
                {{ end }}

                {{ if .Params.phone2 }}
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;
                <a href="tel:{{ .Params.phone2 }}">{{ .Params.phone2 }}</a>
                {{ end }}

                <br/>

                {{ if .Params.facebook }}
                <img src="/images/icon-fb.svg" height="14px"/>&nbsp;
                <a href="{{ .Params.facebook }}">
                  {{ if .Params.facebook_name }}
                  {{ .Params.facebook_name }}
                  {{ else }}
                  Liberland {{ .Params.title }}
                  {{ end }}
                </a>
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
