  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
  <title>{{ $title }}</title>

  <meta name="description" content="{{ .Description }}">
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="manifest" href="{{ "/manifest.json" | relURL }}">
  <meta name="application-name" content="{{ $title }}">
  <meta name="theme-color" content="#ffcd05">

  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ $title }}" />
  {{ end }}

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

  <!--  non site wide -->
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCWvWDqzT2OjYMF3tJpiW0rZe-JKcGhnpE"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <script src="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/dist/wow.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"></script>


  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>


  <link rel="stylesheet" type="text/css" href="../../../../src/css/fontello/fontello.css" media="screen">
