//@import "jqvmap/dist/jqvmap";
//@import "flag-icon-css/css/flag-icon.min.css";
//@import "flag-icon-css/css/flag-icon.min.css";
//@import "flag-icon-css/css/flag-icon";

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
//@import url('https://fonts.googleapis.com/css?family=Andada');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600,700');


@import "@glidejs/glide/src/assets/sass/glide.core";

@import "@glidejs/glide/src/assets/sass/glide.theme";


$sans: 'Source Sans Pro', "Helvetica", sans-serif;
$slab:  'Zilla Slab', 'Alfa Slab One', serif;

$yellow: #FFCB05;
$yellow-d: #F1C823;
$gray-d: #35373A;
$gray-m: #555658;
$gray-l: #e4e3e4; //#d0d8de;

$dark-blue: #13111f;

$time: .25s;

$footer-height-desktop: 223px;
$footer-height-mobile: 324px;

.fixit {
	background: rgba(red, .1) !important;
	color: red !important;
}

@mixin breakpoint($class) {
  @if $class == xxs {
    @media (max-width: 450px) { @content; }
  }

  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}


@mixin stripes($color, $angle) {
  border: 2px solid $color;
    box-shadow: inset 0 0 50px rgba($color, .5);
    background-size: 6px 6px;
    background-color: white;
    background-image: linear-gradient($angle,
                      white 45%, rgba($color,.25) 46%,
                      rgba($color,.25) 54%, white 55%);
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.input-group-addon{
	background: $gray-l;

}


h1, h2, h3, h4, h5, h6 {
	font-family: $slab;
	font-weight: 700;
	//font-family: 'Andada', serif;
}
h1 {
	color: $yellow !important;
	font-size: 60px;
}
h2 {
	color: white;
	font-family: $sans;
	font-size: 20px;
    margin: 5px 0;
    text-shadow: 0 0 20px rgba(black,.5);
}
h3 {
	font-size: 32px;
	font-weight: 700;
	margin: 0 0 35px;
}
h4 {
	font-size: 20px;
	font-weight: 200;
	margin: 5px 0;
}
h5 {
	font-size: 16px;
	line-height: 22px;
	margin: 5px 0;
}


.padding-top-10 {
	padding-top: 10px;
}
.padding-top-20 {
	padding-top: 20px;
}
.padding-top-30 {
	padding-top: 30px;
}
.padding-top-40 {
	padding-top: 40px;
}
.padding-top-50 {
	padding-top: 50px;
}
.padding-top-60 {
	padding-top: 60px;
}

hr {
	border: none;
	border-top: 1px solid $gray-l;
}

a {
	//background: $yellow;
	box-shadow: inset 0 -2px 0 $yellow;
	color: inherit;
	transition: all .5s;
	&:hover {
		box-shadow: inset 0 -30px 0 $yellow;
		text-decoration: none;
		color: black;
	}
}


.circ {
	border-radius: 100%;
}
.yellow {
	color: $yellow;
}
.text-light {
	font-size: 20px;
    font-weight: 200;
}
 a.btn, button {
	box-shadow: none;
    text-transform: uppercase;
    //font-size: 24px;
    //padding: 25px 30px;
    border-radius: 3px;

    transition: all .5s;
    &.btn-more {
	    color: $gray-d;
	    border: $yellow;
	    background-image: linear-gradient(to top, rgba($yellow-d,1) 0%,rgba($yellow-d,0) 100%);
	    background-color: $yellow;
	    &:hover {
	        color: black;
		    box-shadow: 0 2px 5px rgba(black,.15);
        }
        &.shadow {
	        box-shadow: 5px 10px 0 $gray-m;
	        transition: all .25s;
	        &:hover {
		        box-shadow: 1px 2px 0 $gray-m;
		    }
        }
    }
    &.btn-default {
	    background: $gray-l;
	    border: none;
    }
	&.white {
		background-image: none;
		background-color: white;
	}
    &.btn-ghost {
	    border: 3px solid $yellow;
	    background: transparent;
	    color: $yellow;
	    &:hover {
	        color: black;
	        box-shadow: 0 2px 5px rgba(black,.15),
	              inset 0 0 25px 50px $yellow;
        }
    }
}
.metadata {
	font-weight: 700;
	color: rgba($gray-m,.5 );
	font-size: 12px;
	text-transform: uppercase;
}
.tag {
	background: $gray-l;
	border-radius: 3px;
	padding: 4px 8px;
	line-height: 30px;
	box-shadow: inset 0 -1px 0 rgba($gray-m,.5 );
}
.btn-ellipsis {

}

.figures {
	padding-bottom: 50px;
	.big {
		font-family: $slab;
		font-weight: 900;
		font-size: 48px;
		color: white;
	}
	p {
		text-transform: uppercase;
		padding-bottom: 30px;
	}
}

.panel-yellow {
	border-radius: 0px;
	.panel-heading {
		background: $yellow !important;
		border-radius: 0px;
		border-color: $yellow;
		font-family: 'Alfa Slab One', serif;
	}
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: black;
}



.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #000;
	background-color: $yellow;
}

nav.navbar {
	border-radius: 0;
	border: none;
	background: #ffcc06 url(/images/header-bg.png) repeat-x;
	margin-bottom: 0;


	a.navbar-brand {
		    padding: 10px 15px;

		    &:hover {
				background: none;
				box-shadow: none;
				img {
					box-shadow: 0 0 5px rgba(black,.5);
				}
			}
	}
	.navbar-collapse {
  	margin: 0;
  	padding: 0;
		border: 0;
	}
	.navbar-toggle {
		background: black;
		margin-top: 3px;
		border: 5px solid $yellow;
		.icon-bar {
			background: $yellow;
		}

	}
	ul.nav.navbar-nav {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		li {
			font-family: $slab;
			font-weight: 700;
			margin-left: 10px;
			a {
				padding: 15px 10px;
				background: $yellow;
				box-shadow: none;
				font-size: 18px;
				color: black;
				transition: all .5s;
				&:hover {
					box-shadow: inset 0 -5px 0 black;
					background: $yellow;
				}
			}
			&.active {
				//background: black;
				a{
					background: black;
					color: $yellow;
					box-shadow: inset 0 0 0px 5px $yellow;
				}
			}
			ul {
				padding: 0 0 0 0;
				li {
					display: block;
					margin: 0;
				}
			}
		}
	}
}

html {
  min-height: 100%;
}

body {
  position: relative;
	font-family: $sans;

  margin-bottom: $footer-height-mobile;
  @include breakpoint(md){
    margin-bottom: $footer-height-desktop;
  }

	#intro {
		.container {
			height: 100%;
			position: relative;

		}

	}

	header {
		background: $gray-m;
		background-position: 70% bottom;
		background-size: cover;
		height: auto;
		color: white;

		h1 {
			margin-top: 0;
			margin-bottom: 50px;
			text-shadow: 9px 7px 2px rgba(black,.03),-7px 9px 2px rgba(black,.03),-7px -7px 2px rgba(black,.03),7px -7px 2px rgba(black,.06);
		}
		h2 { margin-top: 50px}

		@include breakpoint(md){
			//height: 80vh;
			background-position: right top;
			blockquote {
				background: transparent;
			}
		}
	}
	#laws {
		p { font-size: large }
	}
	#constitution {
		ul li {
		    margin-bottom: 15px;
		}
	}
	#donations {
		ul{
			li{
				margin-bottom: 25px;
			}
		}
	}

	section{
		padding: 50px 0;
		background-size: cover;

		&.bg-yellow{
			background-color: $yellow;

			h3 { color: white;}
			.panel h3 { color: $yellow}
			.btn-more{
				background-color: white;
				background-image: none;
				color: $gray-d;
			}
			.btn-ellipsis {
				background: white;
				box-shadow: none;
				color: $yellow;
				border-radius: 3px;
				padding: 0px 5px;
				&:hover {
					color: $gray-d;
				}
			}
		}
		&.bg-light{
		}
		&.bg-dark{
			background-color: $gray-d;
			color: white;
			.panel {
				color: $gray-d;
				box-shadow: 0 5px 25px rgba(black,.5);
			}
		}
	}
	&>footer {
		background: $gray-d;
		color: white;
		padding: 50px 0 30px;
		border-top: 5px solid $yellow;


    width: 100%;
    position: absolute;
    bottom: -$footer-height-mobile;
    @include breakpoint(md) {
      bottom: -$footer-height-desktop;
    }

		ul {
			list-style-type: none;
			padding-left: 0;
			li{
				font-size: 16px;
				a{
					box-shadow: none;
				}
			}
		}
		a{
			color: $yellow;
			&:hover {
				color: white;
			}
		}
		input {
			border: 3px solid $yellow !important;
			border-right: none !important;
			border-radius: 3px;
			padding: 6px 10px;
			height: 38px !important;
			background: $gray-m;
			color: $gray-l;
			&::placeholder {
				color: $gray-l;
				opacity: .3;
			}
			&:focus {
			    background-color: $gray-l;
			    border: 3px solid $yellow;
				border-right: none;
			    outline: $yellow;
			    box-shadow: inset 0 0 2px rgba($yellow,.25), 0 0 2px rgba($yellow,.25);
			    color: $gray-d;
			}
		}
	}
	&.home {
		#intro {

 			background: $gray-m url(/images/hero.svg) center center no-repeat;
			background-size: cover;
			height: 100vh;
			max-height: 200vw;
			box-shadow: inset 0 0 70px rgba(black,.35);
			.container {
				height: 100%;
				position: relative;
				h1 {
					text-shadow: 0 0 20px rgba(black,.25);
					margin: 80px 0 0;
				}
				.to-bottom {
					position: absolute;
					bottom: 200px;
				    width: 100%;
				}
			}
		}
		#what-headline {
			background: url(/images/wave.svg) center top;
			background-size: cover;
			margin-top: -106px;
			padding: 50px 0 30px;
			h3 {
				margin: 0;
			}
		}
		#what {
			position: relative;

				padding: 0;
			#gmap {
				height: 100vh;
			}

			#overmap {
				height: 100vh;
				margin-top: -100vh;
				position: relative;
				pointer-events: none;
				.to-bottom {
					position: absolute;
					bottom: 0;
				    left: 10px;
				    right: 10px;
				    .panel {
					    pointer-events: auto;
				    }
				}
			}

		}
		#mission {
			background: $yellow url(/images/mission.svg) center bottom  no-repeat;
			background-size: cover;
			h3 {
				color: $gray-d;
			}
		}
		#products {
			a {
				text-decoration: none;
				box-shadow: none;
				.img-holder{
					width: 125px;
					height: 125px;
					margin: auto;
				}
				h5,p { color: $gray-d}
				&.e-res{
					.img-holder{ background-image: url(/images/icon-e-res.svg) }
					&:hover .img-holder{ background-image: url(/images/icon-car-animated.svg) }
				}
				&.pass{
					.img-holder{ background-image: url(/images/icon-pass.svg) }
					&:hover .img-holder{ background-image: url(/images/icon-car-animated.svg) }
				}
				&.comp{
					.img-holder{ background-image: url(/images/icon-comp.svg) }
					&:hover .img-holder{ background-image: url(/images/icon-comp-animated.svg) }
				}
				&.car{
					.img-holder{ background-image: url(/images/icon-car.svg) }
					&:hover .img-holder{ background-image: url(/images/icon-car-animated.svg) }
				}

			}
		}
		#government {
			overflow: hidden;
			position: relative;
			#particles-js {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $gray-d;
				margin-top: -50px;
			}
			canvas {
				display: block;
				vertical-align: bottom;
			}
			.row.columns>div {
				padding-bottom: 20px;
			}
			a{

				div.circ {
					width: 210px;
					height: 210px;
					border: 5px solid $yellow;
					margin:auto;
					img {
						width: 200px;
						height: 200px;

						filter: grayscale(100%)
								brightness(135%)
								contrast(120%);
						transition: all .25s;
					}
				}
				h5, p {
					color: white;
					transition: all .25s;
				}

				&:hover {
					div.circ {
						img {
							filter: none;
						}
					}
					h5, p {
						color: $yellow;
					}
				}
			}
		}
		#partners {
			background: linear-gradient(rgba(#FAFAFA,1) 50%, rgba(#EDEDED,0) 50%);
			background-size: 90px;
			padding: 0;
			.container {
				background: url(/images/romb.svg) center center;
				background-size: cover;
				padding-top: 50px;
				padding-bottom: 50px;
				a{
					box-shadow: none;
					img {
						width: 100%;
						max-width: 100px;
						filter: grayscale(100%);
					}
				}
			}
		}
		#news {
			h3 {
				background-image: linear-gradient(to bottom, $yellow 39%,white 40%,white 60%,$yellow 61%);
				text-shadow: 8px 2px 0px $yellow, 8px -2px $yellow, -9px 2px $yellow, 14px -7px $yellow, 14px -2px $yellow, -16px 0px $yellow;
			}
			a {
				box-shadow: none;
				img {
					width: 100%;
					filter: grayscale(100%);

				}
				color: $gray-d;
				&:hover{
					color: black;
					img {filter: grayscale(0%);}
				}
			}

		}
		#media {
			.col-sm-3.col-xs-4 {
				height: 120px
			}
			a{
				box-shadow: none;
				img {
				    transition: all 200ms ease-in-out;
				    filter: grayscale(100%);
				    max-width: 200px;
				    width: 100%;
				    margin: 20px auto;
			    }
			    &:hover img {
				    filter: grayscale(0%);
			    }
			}
		}

	}

	&.liberland {
		header {
			background: #646462 url(/images/about-hero.jpg);
			background-position: 70% bottom;
			background-size: cover;
			height: 100vh;
			max-height: 200vw;
			color: white;

			h1 {
				margin-top: 0;
				text-shadow: 9px 7px 2px rgba(black,.03),-7px 9px 2px rgba(black,.03),-7px -7px 2px rgba(black,.03),7px -7px 2px rgba(black,.06);
			}
			h2 { margin-top: 180px}
			blockquote {
				text-shadow: 5px 5px 2px rgba(black,.03),-5px 5px 2px rgba(black,.03),-5px -5px 2px rgba(black,.03),5px -5px 2px rgba(black,.06);
				background: rgba(black,.5);
			}
			@include breakpoint(md){
				height: 80vh;
				background-position: right top;
				blockquote {
					background: transparent;
				}
			}
		}
		#counter {
			.figures {
				padding-bottom: 0;
				p {
					padding-bottom: 0;
				}
			}
		}
	}
	&.contact {
		background: $gray-m;

		#general {
			background: white;
			.alert-primary {
				border: 3px solid $yellow;
				background: rgba($yellow,.25);
				padding: 30px;
			}
			table {
				width: 100%;

				thead {
					background: $yellow;
					font-weight: bold;
				}
				tr {
					background: rgba($gray-l,.35);
					&:nth-child(odd) {
						background: rgba($gray-l,0);
					}
					td{
						padding: 3px;
						display: block;
						width: 50%;
						float: left;

						&:nth-child(2) {
							text-align: right;
						}

						&:last-child {
							width: 100%;
						}
						@include breakpoint(md) {
							display: table-cell;
							width: 20%;
							float: none;
							&:nth-child(2) {
								text-align: left;
							}
						}
					}

				}
			}
		}
		.panel {
			border: none;
			margin-bottom: 30px;
			.panel-heading {
				border-radius: 0;
				border: none;
				background: $yellow;
			}
			.panel-body {
				height: 170px;
			}
		}
	}
	&.application {
		#particles {
			position: absolute;
				width: 100%;
				height: 100%;
				margin-top: -50px;
		}
		#intro {
			//background: #555658 url(../images/ICO.svg) center center no-repeat;
			background-color: #555658;
				background-size: cover;
				height: 100vh;
				max-height: 200vw;
				-webkit-box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.35);
				box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.35);
				.container {
					height: 100%;
				}
		}
		input[type=checkbox] {
			margin-right: 8px;
		}
	}
}

.simple-page {
	h1,h2,h3 {
		// @extend .text-center
		text-align: center;
		margin-top: 2em;
	}
	p {
		margin-bottom: 1.5em;
	}
}

// animatecss delays

$time: .25s;
.wait1{
	animation-delay: 1*$time;
}
.wait2{
	animation-delay: 2*$time;
}
.wait3{
	animation-delay: 3*$time;
}
.wait4{
	animation-delay: 4*$time;
}
@include breakpoint(sm){
	[class^="wait"] {
		animation-delay: 0;
	}
}


.modal {
	.modal-title {
		display: inline;
	}
}

@import "partials/fancybox";

@import "subdomains/coc";
@import "subdomains/members";

//@import "subdomains/kayak";
//@import "subdomains/embassy";
